html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 100px 0;
}
.sec_tit{
	font-weight: 800;
	font-size: 48px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.sec_txt{
	font-size: 21px;
	margin-bottom: 2%;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
button {
    cursor: pointer;
}
input, button, textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
}


/* валидация */
#form {
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
	background: #1E212C;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 27%;
    color: white;
    background-color: 
	#7772F1;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
	background: #4d4b4b;
    border: 2px solid #8d8d8d;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 12px;
}
.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
.get_free_tit{
font-family: Lato;
font-size: 46px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-bottom: 40px;
}
.valude_tit{
	color: white;
	margin-bottom: 3%;
}
#email,
#username{
	width: 130%;
}
.get_free_valudes{
	gap: 16%;
}
.get_free_valude_cards_txt{
	color: white;
	width: 287px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}
.get_free_valude_cards{
	justify-content: space-between;
}
.get_free_btn{
	width: 10%;
}
.all_get_free{
	background: #1E212C;
}
.get_free{
	justify-content: space-around;
}


/* accardion */
.container .box {
	position: relative;
  }
  
  .container .box:last-child {
	margin-bottom: 0; /* Для последнего элемента нижний отступ убираем */
  }
  
  .container .box .label {
	position: relative;
	padding: 20px; /* Внутренний отступ для видимой части */
	color: #000000; /* Цвет шрифта элемента аккордеона */
	cursor: pointer; /* Меняем курсор при наведении */
  }
  
  .container .box .label::before {
	content: "+"; /* Задаем иконку "+" для элемента аккордеона */
	position: absolute;
	top: 50%; /* Выравнивание по центру */
	transform: translateY(-50%);
	left: -1%;
	font-size: 25px;
	font-weight: bold;
  }
  
  .container .box.active .label::before {
	content: "-"; /* Меняем иконку на "-" при нажатии на элемент */
  }
  
  .container .box .content {
	position: relative;
	background-color: #fff; /* Цвет фона контента */
	overflow: hidden;
	max-height: 0; /* Скрываем контент */
	transition: 0.3s; /* Для плавности анимации */
  }
  
  .container .box .content p {
	color: #787A80;
	width: 556px;
  }
.ques_left{
	align-self: center;
}
  .ques_cards{
	gap: 4%;
	justify-content: center;
  }

/* прогресбар */
.skill{
	width: 160px;
	height: 160px;
	position: relative;
}
.outer{
	height: 160px;
	width: 160px;
	border-radius: 50%;
	padding: 20px;
	box-shadow:  6px 6px 10px -1px rgba(0, 0, 0, 0.15)
				 -6px -6px 10px -1px rgba(255, 255, 255, 0.7)}
.inner{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2)
				inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
			-0.5px -0.5px 0px rgba(255, 255, 255, 1),
			0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
			0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number{
	font-weight: 600px;
	color: #555;
}
/*progress bar */
circle{
fill: none;
stroke: url(#GradientColor);
stroke-width: 10px;
stroke-dasharray: 550;
animation: anim 1s linear forwards;
}
svg{
	position: absolute;
	top: 0;
	left: 0;
}
@keyframes anim{
	100%{
		stroke-dashoffset: 165;
	}
}

/*ghj*/
.track-wrap {
    position:relative;
    top:-18px;
    -webkit-animation:progressbar2 7s infinite;
    animation:progressbar2 7s infinite
}

.track {
    height:20px;
    display:block;
    background:#e74c3c;
    width:20px;
    border-radius:10px;
    position:relative;
    left:-12px
}

/* Chrome, Safari, Opera */

@-webkit-keyframes progressbar2 {
    from {
        left:0
    }
    to {
        left:100%
    }
}

/* Standard syntax */

.circular{
	height: 100px;
	width: 100px;
	position: relative;
	transform: scale(2);
}
.circular .inner{
	position: absolute;
	z-index: 6;
	top: 50%;
	left: 50%;
	height: 80px;
	width: 80px;
	margin: -40px 0 0 -40px;
	background:#dde6f0;
	border-radius: 100%;
	box-shadow:  0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .numb{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	font-size: 18px;
	font-weight: 500;
	color: #4258d0;
}
.circular .bar .progress{
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 100%;
	clip: rect(0px,50px,100px 0px);
	background: #4158d0;
}
.circle .left .progress{
	z-index: 1;
	animation: left 4s linear both;
}
@keyframes left{
	100%{
		transform: rotate(180deg);
	}
}
.circle .right{
	z-index: 3;
	transform: rotate(180deg);
}
.circle .right .progress{
	animation: right 4s linear both;
	animation-delay:4s ;
}
@keyframes left{
	100%{

	}
}
.read_card_tit{
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
border-bottom: 1px solid #a5a5a5;
color: #1E212C;
margin-bottom: 30px;	
padding-bottom: 30px;
}
.read_card_txt{
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
width: 310px;
margin-bottom: 71px;
color: #787A80;
}
.read_tit{
font-family: Lato;
font-size: 46px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 60px;
text-align: center;
}
.read_img img{
	width: 26%;
	margin-bottom: 1%;
}
.read_cards{
	gap: 7%;
	justify-content: center;
}